.main_container_child {
  margin: 0px auto;
}
.main_container {
  background: #ffb8ca;
}
.nav_btn {
  background: #ffffff;
  border-radius: 22px;
  padding: 10px 20px;
  border: none;
  color: #d41443;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  display: flex;
  gap: 10px;
}
.main_navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0px;
  position: relative;
  z-index: 1;
}
.nav_value ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
}
.nav_value ul li:nth-child(1) {
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0em;
}
.nav_value ul li {
  color: #ffffff;
  font-size: 16px;
  font-family: "DM Sans";
  font-weight: 700;
  letter-spacing: 0em;
}

.Main_sec_circle {
  position: absolute;
  background: #ffa5ba;
  width: 538px;
  height: 538px;
  top: 52px;
  left: 676px;
  border-radius: 100%;
}
.main_sec_child {
  position: relative;
}
.mainIcecreamImg {
  object-fit: contain;
  margin-top: 35px;
}
.Main_sec_Parent {
  display: flex;
  padding-bottom: 48px;
}
.Main_sec_child_one {
  flex: 7;
  margin-left: 140px;
}
.Main_sec_child_buttons {
  display: flex;
  gap: 20px;
}
.Main_sec_child_buttons button {
  padding: 10px 20px;

  font-size: 16px;
  font-weight: 500;
  font-family: "DM Sans";
  letter-spacing: 1px;
  border-radius: 20px;
  border: none;
}
.Main_sec_child_buttons button:nth-child(1) {
  background-color: #d41443;
  color: #ffffff;
}
.Main_sec_child_buttons button:nth-child(2) {
  background-color: #ffffff;
  color: #d41443;
}
.Main_sec_child_items {
  display: flex;
  align-items: end;
}
.milk_para {
  text-align: left;
  width: 200px;
  font-family: "DM Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  color: #ffffff;
}
.milk_para img {
  margin-top: 10px;
}
.Main_sec_child_heading {
  margin: 20px 0px;
}

.Main_sec_child_heading h2 {
  font-family: "Titan One";
  font-size: 38px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0.04em;
  text-align: left;
  text-transform: uppercase;
  color: #ffffff;
}
.Main_sec_child_heading h1 {
  font-family: "Titan One";
  font-size: 52px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #d41443;
  text-transform: uppercase;
}
.main_sec_child_two {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 44px;
}

/* .sixteen span:nth-child(1) {
  border-radius: 100%;
  background-color: #ffffff;
  height: 26px;
  width: 26px;
} */

.sixteen h1 {
  font-family: "Titan One";
  font-size: 46px;
  font-weight: 400;
  line-height: 53px;
  letter-spacing: 0.04em;
  text-align: right;
  color: #d41443;
}

.sixteen h5 {
  font-family: "DM Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: right;
  color: #ffffff;
}
/* .twentyThree span:nth-child(1) {
  border-radius: 100%;
  background-color: #ffffff;
  height: 26px;
  width: 26px;
} */

.twentyThree h1 {
  font-family: "Titan One";
  font-size: 46px;
  font-weight: 400;
  line-height: 53px;
  letter-spacing: 0.04em;
  text-align: right;
  color: #d41443;
}

.twentyThree h5 {
  font-family: "DM Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: right;
  color: #ffffff;
}
.sotasty {
  position: relative;
  right: 80px;
}

/* cards */

.cards_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 0px 100px 0px;
}
.cards {
  display: flex;
  gap: 40px;
  margin-top: 100px;
}
.cards_heading h2 {
  font-family: "Titan One";
  font-size: 30px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffa5ba;
  text-transform: uppercase;
}
.cards_heading h1 {
  font-family: Titan One;
  font-size: 58px;
  font-weight: 400;
  line-height: 66px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #d41443;
  text-transform: uppercase;
}
.cards_heading {
  margin-bottom: 80px;
}
.cardOne {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffb8ca;
  border-radius: 24px;
  gap: 20px;
  padding: 20px 0px;
  position: relative;
  width: 300px;
}
.card_para {
  width: 200px;
  text-align: center;
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.04em;
  text-align: center;
  margin: 20px 0px;
  color: #ffffff;
}
.carddetails {
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carddetails h1 {
  font-family: "Titan One";
  font-size: 30px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
.card_img {
  position: absolute;
  top: -190px;
}
.brown {
  background: #f0d1a5;
}
.green {
  background: #c2e297;
}

.Main_made {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 200px;
}
.made_work_cow_img {
  width: 200%;
  margin-bottom: 100px;
}
.made_work_wrapper {
  background-image: url("\assets\milkbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  gap: 40px;
  align-items: flex-start;
  margin-top: 100px;
}
.made_heading_wrapper h2 {
  font-family: "Titan One";
  font-size: 30px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffa5ba;
  text-transform: uppercase;
  margin: 10px 0px;
}
.made_heading_wrapper h1 {
  font-family: Titan One;
  font-size: 58px;
  font-weight: 400;
  line-height: 66px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #d41443;
  text-transform: uppercase;
}
.made_work_cow_details h5 {
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 800;
  line-height: 28px;
  letter-spacing: 0.04em;
  text-align: left;
  margin: 20px 0px;
}
.made_work_cow_details p {
  font-family: "DM Sans";
  font-size: 14px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0.04em;
  text-align: left;
  margin: 20px 0px;
}
.AliquamSperateLine {
  margin: 20px 0px;
}
.readMore {
  margin: 20px 0px;
  color: #d41443;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}
.made_work_cow_details {
  text-align: left;
}
.made_content {
  display: flex;
  justify-content: space-around;
  gap: 100px;
}
.made_content_wrapper {
  width: 200px;
}
.made_content_wrapper * {
  margin: 10px 0px;
}
.made_content_wrapper p {
  font-family: "DM Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-align: left;
}
.made_content_wrapper h1 {
  font-family: "Titan One";
  font-size: 58px;
  font-weight: 400;
  line-height: 66px;
  letter-spacing: 0.04em;
  color: #d41443;
}
.grandimg {
  margin: 80px 0px;
}
.grandimg img {
  position: relative;
  top: -400px;
}

.main_footer_card {
  width: 300px;
  background: #ffffff;
  cursor: pointer;
  border-radius: 24px;
  padding: 20px;
  position: relative;
  top: -74px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.main_footer_card div {
  margin: 20px 0px;
}
.main_footer_card .foo_card_heading {
  font-weight: 700;
  margin: 10px 0px;
}
.time_foo {
  color: #d41443;
}
.foo_btn {
  padding: 10px 20px;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 1px;
  background: #f0dbaf;
  border-radius: 20px;
  text-align: center;
  color: #ffffff;
  font-weight: 500;
  font-family: "DM Sans" sans-serif;
}
.main_footer_cards {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.footer_section {
  background: #fff5f6;
  margin-top: 100px;
}
.main_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer_sab_heading {
  display: flex;
  /* gap: 180px; */
  gap: 50px;
  margin: 100px 0px;
  /* margin: 150px 0px; */
}
.footerLastLine {
  text-align: center;
  color: #907e82;
}
.foo_heading h2 {
  font-family: "Titan One";
  font-size: 30px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #ffa5ba;
  text-transform: uppercase;
}
.foo_heading h1 {
  font-family: "Titan One";
  font-size: 58px;
  font-weight: 400;
  line-height: 66px;
  letter-spacing: 0.06em;
  text-align: left;
  text-transform: uppercase;
  color: #d41443;
}
.foo_heading_icon {
  font-family: "Dan Sans";
  font-weight: 800;
  line-height: 66px;
  letter-spacing: 0.06em;
  text-align: left;
  text-transform: uppercase;
}
.milk_bg_color {
  background: #fff5f6;
  margin-bottom: 400px;
}
.foo_heading_icon ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}
.noreply {
  line-height: 40px;
  color: #907e82;
}
.main_footer_card div:nth-child(2) {
  line-height: 30px;
  margin-bottom: 40px;
}
.main_footer_card div:nth-child(3) {
  margin: 40px 0px;
}
.ViewHeadlineIcon {
  display: none !important;
}
/* .Slider_main_flex{
  display: flex;
  justify-content: space-around;
  width: 200px;
} */
/* .Slider_main {
  display: flex;
  margin: 0 auto;
} */
@media screen and (max-width: 1282px) {
  .Main_sec_circle {
    position: absolute;
    background: #ffa5ba;
    width: 400px;
    height: 400px;
    top: 52px;
    left: 521px;
    border-radius: 100%;
  }
}
@media screen and (max-width: 1500px) {
  .Main_sec_circle {
    left: 600px;
  }
}

@media screen and (max-width: 1412px) {
  .Main_sec_circle {
    left: 530px;
  }
}

@media screen and (max-width: 1330px) {
  .Main_sec_circle {
    width: 400px;
    height: 400px;
  }
}
@media screen and (max-width: 1300px) {
  .nav_value {
    display: none;
  }
  .ViewHeadlineIcon {
    display: block !important;
  }
}

@media screen and (max-width: 1195px) {
  .Main_sec_child_one {
    margin-left: 70px;
  }
  .Main_sec_circle {
    left: 400px;
  }
  .made_work_wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    margin-top: 60px;
  }
  .made_work_cow_details {
    text-align: left;
    width: 400px;
    margin: 0px 0px 50px 0px;
  }
}

@media screen and (max-width: 1020px) {
  .card_img {
    width: 100%;
    top: -140px;
  }
  .cardOne {
    width: 250px;
  }
}
@media screen and (max-width: 996px) {
  .Main_sec_child_one {
    margin-left: 40px;
  }
  .Main_sec_circle {
    left: 350px;
  }
}
@media screen and (max-width: 980px) {
  .Main_sec_child_one {
    margin-left: 10px;
  }
  .Main_sec_circle {
    left: 240px;
  }
  .Main_sec_child_heading {
    position: relative;
    z-index: 1;
  }
  .Main_sec_child_buttons {
    position: relative;
    z-index: 1;
  }
  .main_footer_cards {
    flex-direction: column;
  }
}
@media screen and (max-width: 870px) {
  .footer_sab_heading {
    flex-direction: column;
    align-items: center;
  }
  .cards {
    display: flex;
    gap: 156px;
    margin-top: 100px;
    flex-direction: column;
  }
  .cardOne {
    width: 300px;
  }
}

@media screen and (max-width: 800px) {
  .milk_para {
    position: relative;
    z-index: 1;
  }
  .main_sec_child_two {
    position: relative;
    z-index: 1;
  }
  .made_content {
    flex-direction: column;
  }
  .made_content {
    gap: 20px;
  }
}

@media screen and (max-width: 800px) {
  .main_sec_child_two {
    display: none;
  }
}
@media screen and (max-width: 643px) {
  .Main_sec_circle {
    left: 150px;
  }
}

@media screen and (max-width: 559px) {
  .Main_sec_child_items {
    visibility: hidden;
  }
  .Main_sec_circle {
    left: 50px;
  }
}

@media screen and (max-width: 461px) {
  .foo_heading_icon ul {
    /* flex-direction: column; */
    align-items: center;
  }
}
@media screen and (max-width: 453px) {
  .Main_sec_circle {
    left: 10px;
  }
  .Main_made {
    align-items: flex-start;
  }
}
